<div id="app-container" ng-controller="GameController">

  <nav class="navbar navbar-custom navbar-fixed-top" id="navGameHeader" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#!/page-top">
          Cards for Humanity
        </a>
      </div>
      <span id="friend-status" ng-hide="friendStatus">{{friendMessage}}</span>
        <span class="btn btn-success" id="friends-btn" ng-show="isCustomGame() === true" ng-click="inviteView = !inviteView">Friends<i class="fa fa-plus add-friend" aria-hidden="true"></i></span>
        <span ng-show="inviteView" class="search search-dropdown" id="myDiv">
          <input type="text" id="search-text" list='list1' ng-model= "email" ng-keyup="searchFriends(email)" placeholder="Search for friends"/>
            <datalist id="list1" ng-if="email !== ''">
              <option label='Send Invite' ng-repeat="result in searchFriendsResult" value='{{result.email}}' ng-click="selectData(result.email, result._id)">
            </datalist>
            <i class="fa fa-paper-plane" aria-hidden="true" ng-click="sendAppInvites(email)"></i>
            <span ng-hide="appInviteStatus" style="font-size: 12px">{{inviteMessage}}</span>
        </span>
      
      <div class='abandon-game-button' id="abandon-game-width" ng-click="abandonGame()">
        Abandon Game
      </div>
      <div class='abandon-game-button' data-target="#bs-example-modal-sm" class="btn" data-toggle="modal" ng-click="allGameRecords()">
        Game Log
      </div>
    </div>

  </nav>
  
  <div id="gameplay-container">
    <div id="upper-gameplay-container">
      <div id="menu-timeremaining-container">
        <div id="menu-container">
          <span id="menu-button">Menu</span>
        </div>
        <div id="timer-container">
          <timer></timer>
        </div>
      </div>
      <div id="question-container-outer">
        <question></question>
      </div>
    </div>
    <answers></answers>
  </div>
  <chat></chat>
  <div ng-include="'./views/game-log.html'">
</div>


