<div id="app-container" ng-controller="GameController">
  <nav class="navbar navbar-custom navbar-fixed-top" id="navGameHeader" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          Menu <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" href="#!/page-top">
          Cards for Humanity
        </a>
      </div>

      <div id='abandon-game-button' ng-click="abandonGame()">
        Abandon Game
      </div>
    </div>
  </nav>
  
  <div id="gameplay-container">
    <div id="upper-gameplay-container">
      <div id="menu-timeremaining-container">
        <div id="menu-container">
          <span id="menu-button">Menu</span>
        </div>
        <div id="timer-container">
          <timer></timer>
        </div>
      </div>
      <div id="question-container-outer">
        <question></question>
      </div>
    </div>
    <answers></answers>


  </div>
  <chat></chat>
</div>


