<div class="chatpanel" id="chatwindow">                
  <div class="panel-heading">
    <i class="material-icons">forum</i><small class="message_notification" ng-show="chat.unreadMessageCount > 0">{{chat.unreadMessageCount + ' new message'}}</small>
    <a href="" class="retract_button" ng-click="showChat()"><i class="material-icons">{{chat.chatWindowVisible ? 'close window': 'expand window' }}</i></a>
  </div>
  <div ng-show="chat.chatWindowVisible">
    <div id="results" class="chatthread">
      <ul class="demo-list-item mdl-list">
        <li ng-repeat="message in chat.messageArray" class="message">
          <div class="chat_body">
            <span class="mdl-list__item-primary-content">
              <strong class="username">{{message.username}}</strong>
              <small class="text-muted time-content">{{message.time}}</small></b></span>
              <p class="message_content">{{message.text}}</p>
          </div>
        </li>
      </ul>
    </div>
    <div>
      <div class="chatinput">
          <input id="text" type="text" class="mdl-textfield__input chat_message" placeholder="Enter Message" ng-model="chatMessage" ng-keypress="keyPressed($event)"/>
          <a class="send_icon" href="" ng-click="sendMessage(chatMessage)"><i class="material-icons">send</i></a>
      </div>
    </div>
  </div>
</div>
