html {
	background: url(img.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	padding-top: 20px;
	font-size: 16px;
	font-family: "Open Sans",serif;
	background: transparent;
	position: relative;
}

.margin-base-vertical {
	margin: 10px 0;
}
	

h1 {
	font-family: "Abel", Arial, sans-serif;
	font-weight: 400;			
	font-size: 50px;
	color: darkslategray;
}
h3 {
	font-family: "Abel", Arial, sans-serif;
	font-weight: 200;			
	font-size: 40px;
}
.panel {
	background-color: lightseagreen;
	opacity: 0.9;
	border-color: darkcyan;
	color: black;
	margin-top: 90px;
	padding: 20px 100px;
	margin-bottom: 70px;
	
	/*margin-left: 10px;*/
}
.btn-green{
	background-color: green;
}
.my-logo{
	font-size: 40px;
	font-weight: 60px;
	font-family: 'Fugaz One', cursive;
	font-family: 'Jockey One', sans-serif;
	font-family: 'Carter One', cursive;
	font-family: 'Fontdiner Swanky', cursive;
}
.light{
	color: grey;
}

.cards{
	background-color: black;
	color: antiquewhite;
	height: 250px;
	border-radius: 10px;
}
.clear {
	clear: both;
}
.img{
	height: 100px;
	border-radius: 10px;
}
#impact{
	background-color: antiquewhite;
	color: darkolivegreen;
	height: 180px;
	border-radius: 10px;
}
#amount-raised{
	display: inline;
}
#small{
	font-size: 12px;
	float:right;
	margin-right: -5px;
	margin-bottom: 20px;
	color: grey;
	font-weight: 100px;
}
#amount{
	font-size: 35px;
	float:left;
	margin-left: 7px;
	margin-top: -3px;
	font-weight: 120px;
	color: black;
} 
#donate-now{
	display: inline;
	
}
#a-donate{
	font-size: 20px;
	margin-bottom: 40px;
	background: orange;
	color: antiquewhite;
	border: 0 none;

}
#a-donate:hover{
	outline: navajowhite;
	color: black;
}
#donate-logo{
	float:right;
	width: 60px;
	height: 100px;
	margin-bottom: -35px;
	background: url(give.png) no-repeat;
}
#cr{
	margin-top: -25px;
}
#footer{
	font-size: 10px;
}


