!!! 5
html(lang='en', xmlns='//www.w3.org/1999/xhtml', xmlns:fb='//www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='//schema.org/Product')
  include ../includes/head
  body(ng-app="mean" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top")
    block content
    include ../includes/foot
